<div class="page">
  <div class='page__body'>
    <h1>Geo Demos</h1>
<h2>Structured Search and Result Visualization</h2>
<ul>
  <li><semantic-link iri='[[resolvePrefix "app:StructuredSearchGeneral"]]'>Search by places and coordinates, clustered results visualization</semantic-link></li>
</ul>
<h2>Federated Querying</h2>
<ul><li><semantic-link iri='[[resolvePrefix "app:GeonamesWikidata"]]'>Federated queries over Wikidata and Geonames</semantic-link></li>
  <li><semantic-link iri='[[resolvePrefix "app:PolygonExample"]]'>Federated queries over Wikidata and OSM: Municipalities in BW with population density</semantic-link></li>
  <li><semantic-link iri='[[resolvePrefix "app:GeoSearch"]]'>Federated queries over Wikidata and OSM: Freetext search</semantic-link></li>  
</ul>
<h2>REST APIs</h2>
<ul><li><semantic-link iri='[[resolvePrefix "Admin:QueryService"]]'>Wikidata ID to Polygon</semantic-link></li>
</ul>
  </div>
</div>