<style>
  img[src="../images/help/thenounproject/noun_1312395.svg"] {
    height: 25px;
   
}
  
img[src="///upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Organization_icon.svg/36px-Organization_icon.svg.png"] {
    height: 25px;
  width:25px;
  margin-right:5px;
  margin-left: 7px;
}  
  
</style>

<ol class="page-breadcrumb">
    <li>
      <semantic-link title="Start" uri='[[resolvePrefix "app:Start"]]'>Start</semantic-link>
    </li>
    <li>
      <semantic-link title="Examples" uri='[[resolvePrefix "app:Examples"]]'>Examples</semantic-link>
    </li>
    <li class="active">Structured Search</li>
</ol>

[[#> app:FeatureDemonstration-demosystem title="Structured Search"]]
  [[#*inline "motivation"]]
<p> End users often need to express complex information needs that reflect many relations and dependencies in the data.</p> 
    
  [[/inline]]
	[[#*inline "solution"]]
    <p>Using structured search in metaphactory, end users can define their information needs incremetally. This component makes use of fundamental categories and relations in the data and provides an interactive and intuitive user experience for building complex queries. This example allows you to search for objects, people, places and organizations from the Wikidata dataset along their relations.
 </p>
  [[/inline]]
  [[#*inline "configuration"]]




[[>app:StructuredSearchGeneralGuidedTourSteps]]
<mp-event-proxy id='guided-tour-run' on-event-type='Component.Loaded' on-event-source='semantic-search'
  proxy-event-type='GuidedTour.RunIfNotSeen' proxy-targets='["guided-tour-search"]'>
</mp-event-proxy>

<div >
  <div class='page__body' style="margin-top: 40px;">

    <semantic-search id='semantic-search'
                     categories='{
        "<http://www.w3.org/2002/07/owl#Class>": [
          {
            "kind": "hierarchy",
            "queryPattern": "$subject $__relation__ ?__value__ ."
          }
        ],
        "<http://www.wikidata.org/entity/Q17334923>": [
           {
            "kind": "hierarchy",
            "queryPattern": "$subject $__relation__ ?__value__ ."
           },
           {
            "kind": "place",
            "format": "Point(long lat)",
            "datatype": "http://www.opengis.net/ont/geosparql#wktLiteral",
            "distanceQueryPattern": "{
             	$subject $__relation__ ?place .
            	{ SELECT ?place {
            	  SERVICE <http://wikiba.se/ontology#around> {
            	    ?place wdt:P625 ?location .
            	    bd:serviceParam <http://wikiba.se/ontology#center> ?__geoCenter__.
            	    bd:serviceParam <http://wikiba.se/ontology#radius> ?__geoDistance__.
            	    bd:serviceParam <http://wikiba.se/ontology#distance> ?distance .
            	  }
            	} ORDER BY(?distance) }
              <http://www.bigdata.com/queryHints#Prior> <http://www.bigdata.com/queryHints#runFirst> \"true\"^^<http://www.w3.org/2001/XMLSchema#boolean>.
            }",
            "boundingBoxQueryPattern": "{
              $subject $__relation__ ?place .
            	{ SERVICE Repository:wikidata {
                  SELECT ?place {
                     SERVICE <http://wikiba.se/ontology#box> {
                       ?place wdt:P625 ?location .
                       bd:serviceParam <http://wikiba.se/ontology#cornerSouthWest> ?__geoSouthWest__ .
                       bd:serviceParam <http://wikiba.se/ontology#cornerNorthEast> ?__geoNorthEast__ .
                     }
                   } ORDER BY(?distance)
                }
              }
              ephedra:Prior ephedra:executeFirst true .
            }"
           }
        ],
        "<http://www.w3.org/2001/XMLSchema#dateTime>": [
           {
             "kind": "date-range",
             "datatype": "http://www.w3.org/2001/XMLSchema#dateTime",
             "queryPattern": "{
                $subject ?__relation__ ?date .
                FILTER(?date <= ?__dateEndValue__) .
                FILTER(?date >= ?__dateBeginValue__) .
             }"
           }
        ]
      }'

                     relations='{
        "<http://www.wikidata.org/prop/direct/P106>": [{
           "kind": "hierarchy",
           "queryPattern": "$subject wdt:P106/wdt:P279* ?__value__ ."
        }],
        "<http://www.wikidata.org/prop/direct/P625>": [
           {
            "kind": "place",
            "format": "Point(long lat)",
            "datatype": "http://www.opengis.net/ont/geosparql#wktLiteral",
            "distanceQueryPattern": "{
            	{ SELECT ?subject {
            	  SERVICE <http://wikiba.se/ontology#around> {
            	    ?subject wdt:P625 ?location .
            	    bd:serviceParam <http://wikiba.se/ontology#center> ?__geoCenter__.
            	    bd:serviceParam <http://wikiba.se/ontology#radius> ?__geoDistance__.
            	    bd:serviceParam <http://wikiba.se/ontology#distance> ?distance .
            	  }
            	} ORDER BY(?distance) }
              <http://www.bigdata.com/queryHints#Prior> <http://www.bigdata.com/queryHints#runFirst> \"true\"^^<http://www.w3.org/2001/XMLSchema#boolean>.
            }",
            "boundingBoxQueryPattern": "{
            	{ SELECT ?subject {
                SERVICE <http://wikiba.se/ontology#box> {
                  ?subject wdt:P625 ?location .
                  bd:serviceParam <http://wikiba.se/ontology#cornerSouthWest> ?__geoSouthWest__ .
                  bd:serviceParam <http://wikiba.se/ontology#cornerNorthEast> ?__geoNorthEast__ .
                }
              } ORDER BY(?distance) }
              <http://www.bigdata.com/queryHints#Prior> <http://www.bigdata.com/queryHints#runFirst> \"true\"^^<http://www.w3.org/2001/XMLSchema#boolean>.
            }"
           }
        ]
      }'

                     search-profile='{
      "categories": [{
        "iri": "<http://www.wikidata.org/entity/Q488383>",
        "label": "Object",
        "thumbnail": "../images/help/thenounproject/noun_1312395.svg"
      }, {
        "iri": "<http://www.wikidata.org/entity/Q5>",
        "label": "Person",
        "thumbnail": "../images/help/thenounproject/noun_1113333.svg"
      }, {
        "iri": "<http://www.wikidata.org/entity/Q43229>",
        "label": "Organization",
        "thumbnail": "///upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Organization_icon.svg/36px-Organization_icon.svg.png"
      }, {
        "iri": "<http://www.wikidata.org/entity/Q17334923>",
        "label": "Place",
        "thumbnail": "../images/help/thenounproject/noun_1146586.svg"
      }, {
        "iri": "<http://www.wikidata.org/entity/Q1190554>",
        "label": "Event",
        "thumbnail": "../images/help/thenounproject/noun_739677.svg"
      }, {
        "iri": "<http://www.w3.org/2001/XMLSchema#dateTime>",
        "label": "Time",
        "thumbnail": "../images/help/thenounproject/noun_873049.svg"
      }, {
        "iri": "<http://www.w3.org/2002/07/owl#Class>",
        "label": "Class",
        "thumbnail": "../images/help/thenounproject/noun_605904.svg"
      }],
      "relations": [
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q488383>",
          "iri": "<http://www.wikidata.org/prop/direct/P276>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "location"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q488383>",
          "iri": "<http://www.wikidata.org/prop/direct/P625>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "has coordinates"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q488383>",
          "iri": "<http://www.wikidata.org/prop/direct/P170>",
          "hasRange": "<http://www.wikidata.org/entity/Q5>",
          "label": "creator"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q488383>",
          "iri": "<http://www.wikidata.org/prop/direct/P176>",
          "hasRange": "<http://www.wikidata.org/entity/Q43229>",
          "label": "manufacturer"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q488383>",
          "iri": "<http://www.wikidata.org/prop/direct/P195>",
          "hasRange": "<http://www.wikidata.org/entity/Q43229>",
          "label": "collection"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q488383>",
          "iri": "<http://www.wikidata.org/prop/direct/P607>",
          "hasRange": "<http://www.wikidata.org/entity/Q1190554>",
          "label": "conflict"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q488383>",
          "iri": "<http://www.wikidata.org/prop/direct/P31>",
          "hasRange": "<http://www.w3.org/2002/07/owl#Class>",
          "label": "instance of"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q488383>",
          "iri": "<http://www.wikidata.org/prop/direct/P186>",
          "hasRange": "<http://www.wikidata.org/entity/Q488383>",
          "label": "material used"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P108>",
          "hasRange": "<http://www.wikidata.org/entity/Q43229>",
          "label": "employer"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P69>",
          "hasRange": "<http://www.wikidata.org/entity/Q43229>",
          "label": "educated at"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P54>",
          "hasRange": "<http://www.wikidata.org/entity/Q43229>",
          "label": "member of sports team"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P102>",
          "hasRange": "<http://www.wikidata.org/entity/Q43229>",
          "label": "member of political party"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P19>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "place of birth"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P20>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "place of death"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P27>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "country of citizenship"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P1344>",
          "hasRange": "<http://www.wikidata.org/entity/Q1190554>",
          "label": "participant of"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P22>",
          "hasRange": "<http://www.wikidata.org/entity/Q5>",
          "label": "father"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P25>",
          "hasRange": "<http://www.wikidata.org/entity/Q5>",
          "label": "mother"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P26>",
          "hasRange": "<http://www.wikidata.org/entity/Q5>",
          "label": "spouse"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P40>",
          "hasRange": "<http://www.wikidata.org/entity/Q5>",
          "label": "child"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P31>",
          "hasRange": "<http://www.w3.org/2002/07/owl#Class>",
          "label": "instance of"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P21>",
          "hasRange": "<http://www.w3.org/2002/07/owl#Class>",
          "label": "gender"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P106>",
          "hasRange": "<http://www.w3.org/2002/07/owl#Class>",
          "label": "occupation"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q43229>",
          "iri": "<http://www.wikidata.org/prop/direct/P17>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "country"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q43229>",
          "iri": "<http://www.wikidata.org/prop/direct/P159>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "headquarters location"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q43229>",
          "iri": "<http://www.wikidata.org/prop/direct/P112>",
          "hasRange": "<http://www.wikidata.org/entity/Q5>",
          "label": "founder"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q43229>",
          "iri": "<http://www.wikidata.org/prop/direct/P1056>",
          "hasRange": "<http://www.wikidata.org/entity/Q488383>",
          "label": "product"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q43229>",
          "iri": "<http://www.wikidata.org/prop/direct/P31>",
          "hasRange": "<http://www.w3.org/2002/07/owl#Class>",
          "label": "instance of"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q43229>",
          "iri": "<http://www.wikidata.org/prop/direct/P452>",
          "hasRange": "<http://www.w3.org/2002/07/owl#Class>",
          "label": "industry"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q17334923>",
          "iri": "<http://www.wikidata.org/prop/direct/P361>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "part of"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q17334923>",
          "iri": "<http://www.wikidata.org/prop/direct/P17>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "country"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q17334923>",
          "iri": "<http://www.wikidata.org/prop/direct/P131>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "located in"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q17334923>",
          "iri": "<http://www.wikidata.org/prop/direct/P47>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "shares border with"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q17334923>",
          "iri": "<http://www.wikidata.org/prop/direct/P61>",
          "hasRange": "<http://www.wikidata.org/entity/Q5>",
          "label": "discoverer"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q17334923>",
          "iri": "<http://www.wikidata.org/prop/direct/P31>",
          "hasRange": "<http://www.w3.org/2002/07/owl#Class>",
          "label": "instance of"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q1190554>",
          "iri": "<http://www.wikidata.org/prop/direct/P276>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "location"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q1190554>",
          "iri": "<http://www.wikidata.org/prop/direct/P17>",
          "hasRange": "<http://www.wikidata.org/entity/Q17334923>",
          "label": "country"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q1190554>",
          "iri": "<http://www.wikidata.org/prop/direct/P710>",
          "hasRange": "<http://www.wikidata.org/entity/Q5>",
          "label": "participant"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q1190554>",
          "iri": "<http://www.wikidata.org/prop/direct/P710>",
          "hasRange": "<http://www.wikidata.org/entity/Q43229>",
          "label": "participant"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q1190554>",
          "iri": "<http://www.wikidata.org/prop/direct/P361>",
          "hasRange": "<http://www.wikidata.org/entity/Q1190554>",
          "label": "part of"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q1190554>",
          "iri": "<http://www.wikidata.org/prop/direct/P31>",
          "hasRange": "<http://www.w3.org/2002/07/owl#Class>",
          "label": "instance of"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P569>",
          "hasRange": "<http://www.w3.org/2001/XMLSchema#dateTime>",
          "label": "date of birth"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q5>",
          "iri": "<http://www.wikidata.org/prop/direct/P570>",
          "hasRange": "<http://www.w3.org/2001/XMLSchema#dateTime>",
          "label": "date of death"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q1190554>",
          "iri": "<http://www.wikidata.org/prop/direct/P580>",
          "hasRange": "<http://www.w3.org/2001/XMLSchema#dateTime>",
          "label": "start time"
        },
        {
          "hasDomain": "<http://www.wikidata.org/entity/Q1190554>",
          "iri": "<http://www.wikidata.org/prop/direct/P582>",
          "hasRange": "<http://www.w3.org/2001/XMLSchema#dateTime>",
          "label": "end time"
        }
      ]
     }'
    >
      <semantic-search-query-builder
        id='semantic-query-builder'
        resource-selector='{
          "query": "
              PREFIX lookup: <http://www.metaphacts.com/ontologies/platform/repository/lookup#>
              SELECT DISTINCT (?resource AS ?suggestion) ?label ?description WHERE {
                 SERVICE Repository:lookup  {
                     ?resource lookup:token ?__token__ .
                     ?resource lookup:name ?label ;
                         lookup:score ?score ;
                         lookup:description ?description .
                 }
                 FILTER(EXISTS { ?subject ?__relation__ ?resource . }) .
                 BIND( xsd:integer(substr(str(?resource), 33)) as ?q)
             } ORDER BY DESC(?score) ASC(?q)  LIMIT 30
         ",
         "suggestionTupleTemplate": "<span title=\"{{label.value}}\">{{label.value}} ({{description.value}})</span>",
         "noSuggestionsTemplate": "<div class=\"suggestion-no-matches\">no matches found</div>"
       }'
      
       tree-selector-categories='{
        "<http://www.w3.org/2002/07/owl#Class>": {
          "relationPattern": "?item wdt:P279 ?parent"
        },
        "<http://www.wikidata.org/entity/Q17334923>": {
          "rootsQuery": "SELECT ?item WHERE { 
                    ?item wdt:P31 wd:Q6256 .
                }",
          "childrenQuery": "select distinct ?item ?label ?hasChildren where { 
                    ?item wdt:P131 ?parent .
                }",
          "parentsQuery": "select distinct ?item ?parent ?parentLabel where { 
                     ?item wdt:P131 ?parent .
                }",
          "searchQuery": "
              PREFIX lookup: <http://www.metaphacts.com/ontologies/platform/repository/lookup#>
              SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
                 SERVICE Repository:lookup  {
                     ?item lookup:token ?__token__ .
                     ?item lookup:name ?label ;
                         lookup:score ?score .
                 }
                 FILTER(EXISTS { ?subject ?__relation__ ?item . }) .
                 BIND( false as ?hasChildren)
              } ORDER BY DESC(?score)  LIMIT 30
            "
         }
       }' 
                                    
       tree-selector-relations='{
       "<http://www.wikidata.org/prop/direct/P452>": {
         	"scheme": "http://www.wikidata.org/entity/Q739302",
          "schemePattern": "{
            {?item wdt:P279 ?__scheme__}
            UNION
            {?item wdt:P279/wdt:P279 ?__scheme__}
          }",      
          "relationPattern": "?item wdt:P279 ?parent"
       },
       "<http://www.wikidata.org/prop/direct/P106>": {
          "scheme": "http://www.wikidata.org/entity/Q12737077",
          "schemePattern": "{
          	{?item wdt:P31 ?__scheme__}
            UNION
            {?item wdt:P31/wdt:P279 ?__scheme__}
            UNION
            {?item wdt:P31/wdt:P279/wdt:P279 ?__scheme__}
          }",      
          "relationPattern": "?item wdt:P279 ?parent"
       },
       "<http://www.wikidata.org/prop/direct/P17>": {
          "scheme": "http://www.wikidata.org/entity/Q6256",
          "schemePattern": "{
          	{?item wdt:P31 ?__scheme__}
            UNION
            {?item wdt:P31/wdt:P279 ?__scheme__}
          }"
       },
       "<http://www.wikidata.org/prop/direct/P27>": {
          "scheme": "http://www.wikidata.org/entity/Q6256",
          "schemePattern": "{
          	{?item wdt:P31 ?__scheme__}
            UNION
            {?item wdt:P31/wdt:P279 ?__scheme__}
          }"
       }
     }' geo-selector='{
     "query": "
        PREFIX geo: <http://www.opengis.net/ont/geosparql#>
        PREFIX geof: <http://www.opengis.net/def/geosparql/function/>

        SELECT DISTINCT ?suggestion ?label ?description ?lat ?long WHERE {
            SERVICE Repository:lookup  {
               ?suggestion lookup:token ?__token__ .
               ?suggestion lookup:name ?label ;
                    lookup:score ?score ;
                    lookup:description ?description .
            }
           FILTER(EXISTS { ?subject ?__relation__ ?suggestion . }) .
           BIND(xsd:integer(STRAFTER(STR(?suggestion), STR(wd:Q))) as ?q)
           ?suggestion wdt:P625 ?point.
           BIND(geof:latitude(?point) as ?lat)
           BIND(geof:longitude(?point) as ?long)
        } ORDER BY DESC(?score) ASC(?q)  LIMIT 30
     ",
     "suggestionTupleTemplate": "<span title=\"{{label.value}}\">{{label.value}} ({{description.value}})</span>",
     "noSuggestionsTemplate": "<div class=\"suggestion-no-matches\">no matches found</div>"
   }'>
        <div class='QueryBuilder--guideHolder'>
          <div class='QueryBuilder--guidePanel'>
            <div class='QueryBuilder--panelHeader'>Getting Started</div>
            <ul class='QueryBuilder--guideLinks'>
              <li>
                <mp-event-trigger id='guided-tour-search-start' type='GuidedTour.Start' targets='["guided-tour-search"]'>
                  <a>Take a guided tour of search</a>
                </mp-event-trigger>
              </li>
            </ul>
          </div>
        </div>
      </semantic-search-query-builder>

            [[#> app:StructuredSearchResultsTemplate customTabs=true]]
      	[[#*inline "customTabs"]]
          <bs-tab event-key="4" title="Map">
              <semantic-search-result-holder domains-include='["http://www.wikidata.org/entity/Q488383", "http://www.wikidata.org/entity/Q43229", "http://www.wikidata.org/entity/Q1190554"]'>
                  <semantic-search-result>
                    [[!-- will display coordinates for places and organizations/headquaters location, objects location --]]
                    <semantic-map id="results-map" query='
                        SELECT DISTINCT ?wkt (?subject as ?item) WHERE {
                        ?subject wdt:P625|wdt:P159/wdt:P625|wdt:P276/wdt:P625 ?wkt .
                      }'
                                  tuple-template='{{> app:ItemCard}}'>
                    </semantic-map>
                  </semantic-search-result>
              </semantic-search-result-holder>
              <semantic-search-result-holder domains-exclude='["http://www.wikidata.org/entity/Q488383", "http://www.wikidata.org/entity/Q43229", "http://www.wikidata.org/entity/Q1190554"]'>
                <p>No map visualization is available for selected domain</p>
              </semantic-search-result-holder>
          </bs-tab>
          <bs-tab event-key="5" title="Timeline">
            <semantic-search-result-holder domains-include='["http://www.wikidata.org/entity/Q5", "http://www.wikidata.org/entity/Q43229", "http://www.wikidata.org/entity/Q1190554", "http://www.wikidata.org/entity/Q488383"]'>
                <semantic-search-result>
                  [[!-- will display birthdays, start time, inception date & incl. qualified statements --]]
                  <semantic-timeline id="results-timeline" query='
                    PREFIX p: <http://www.wikidata.org/prop/>
                    PREFIX pq: <http://www.wikidata.org/prop/qualifier/>
                    SELECT DISTINCT ?start (?subject as ?item) WHERE {
                      ?subject wdt:P569|wdt:P580|wdt:P571|p:P571/pq:P1319 ?start . FILTER(!isBlank(?start))
                    }'
                                     default-item-options='{"type": "box"}'
                                     tuple-template='{{> app:ItemCard}}'
                                     tuple-template-height=194
                  >
                  </semantic-timeline>
                </semantic-search-result>
            </semantic-search-result-holder>
            <semantic-search-result-holder domains-exclude='["http://www.wikidata.org/entity/Q5", "http://www.wikidata.org/entity/Q43229", "http://www.wikidata.org/entity/Q1190554", "http://www.wikidata.org/entity/Q488383"]'>
              <p>No timeline visualization is available for selected domain</p>
            </semantic-search-result-holder>
          </bs-tab>
      	[[/inline]]
      [[/app:StructuredSearchResultsTemplate]]

    </semantic-search>
  </div>
</div>

[[/inline]]
	[[#*inline "description"]]
		<p>Configuration description</p>
		<p><semantic-link iri="[[resolvePrefix "Help:SemanticMap"]]">Learn More</semantic-link></p>
	[[/inline]]
  [[#*inline  "features"]]
    <semantic-link iri='app:Start'>Semantic Search</semantic-link>,     <semantic-link iri='app:Start'>Similarity Search</semantic-link>
  [[/inline]]
  [[#*inline "demo"]]
    <div> 
        [[> configuration]]
    </div>
  [[/inline]]
[[/app:FeatureDemonstration]]
