<ol class="page-breadcrumb">
    <li>
      <semantic-link title="Start" uri='[[resolvePrefix "app:Start"]]'>Start</semantic-link>
    </li>
    <li>
      <semantic-link title="Examples" uri='[[resolvePrefix "app:Examples"]]'>Examples</semantic-link>
    </li>
    <li class="active">Ontodia Diagrams</li>
</ol>
[[#> app:FeatureDemonstration-demosystem title="Ontodia Diagrams"]]
  [[#*inline "motivation"]]
<p> Chemical Structure Search is used to represent chemical formulas depend on the user's request. </p> 
    
  [[/inline]]
	[[#*inline "solution"]]
    <p>The user can easily search for a particular chemical formula by drawing it on the board, as well as find similar ones using similarity threshold.
 </p>
  [[/inline]]
  [[#*inline "configuration"]]


<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
    </div>
    <div class='page__header-body'>
    </div>
  </div>
  <div class='page__body'>
    [[> http://www.metaphacts.com/resource/assets/OntodiaDiagramsTable createDefault=true]]
  </div>
</div>

[[/inline]]
	[[#*inline "description"]]
		<p>Configuration description</p>
		<p><semantic-link iri="[[resolvePrefix "Help:SemanticMap"]]">Learn More</semantic-link></p>
	[[/inline]]
  [[#*inline  "features"]]
    <semantic-link iri='app:Start'>Semantic Search</semantic-link>,     <semantic-link iri='app:Start'>Similarity Search</semantic-link>
  [[/inline]]
  [[#*inline "demo"]]
    <div style='height: 500px'> 
        [[> configuration]]
    </div>
  [[/inline]]
[[/app:FeatureDemonstration]]
