<style>
  #search-results .table-custom-row {
    justify-content: space-between;
  }
</style>

<semantic-search-facet-store id="facet"></semantic-search-facet-store>
<div style='display: flex;'>
  <div style='flex: 0.33;'>    
    <semantic-search-facet-group></semantic-search-facet-group>
  </div>

  <semantic-search-result-holder>
    <div style='flex: 1;'>
    <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
    <!--<semantic-search-result>
      <mp-sparql-result-counts id="result-counts"
                               query="SELECT DISTINCT * {}"
                               template='{{#if hasLimit}} <bs-alert bs-style="warning"> Showing <span class="num-results">{{numberOfResults}}</span> of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert> {{else}} <span>found <span class="num-results">{{numberOfResults}}</span> matches</span> {{/if}}'>
      </mp-sparql-result-counts>
    </semantic-search-result>-->

       <semantic-search-result-context multi=true>
            <semantic-search-result>
                <semantic-search-table-result>
                  <semantic-table id="results-table"
                                  query='SELECT DISTINCT ?subject WHERE { FILTER(?__contextRelationPattern__) }'
                                  options='{"showFilter":false,
                                    "enableGrouping": false,
                                    "groupingOptions": {"groupedBy": ["subject"], "showOnlyAggregatedValue": true, "defaultAggregation":"concat"}
                                  }'
                                  column-configuration='[{
                        "variableName": "subject",
                        "displayName": "Subject",
                        "cellTemplate": "{{> subjectTemplate iri=subject.value}}"
                      }
                    ]'
                  >
                      <!-- this column configuration is rewritten by semantic-search-table-result in multi mode and we have only default rendering without panel trigger -->
                    <template id='subjectTemplate'>
                      <mp-knowledge-panel-trigger iri='{{iri}}'></mp-knowledge-panel-trigger>
                    </template>
                  </semantic-table>
                </semantic-search-table-result>
              </semantic-search-result>
       </semantic-search-result-context>

    <bs-panel>
      <semantic-search-result>
        <mp-sparql-download id="csv-download" query="SELECT * WHERE { }"
                            header="text/csv"
                            filename="csv-result.csv"
        >
          <button class="btn btn-default">Download CSV</button>
        </mp-sparql-download>
      </semantic-search-result>
      <semantic-search-result>
        <mp-sparql-download id="json-download" query="SELECT * WHERE { }"
                            header="application/sparql-results+json"
                            filename="json-result.json"
        >
          <button class="btn btn-default">Download JSON</button>
        </mp-sparql-download>
      </semantic-search-result>
    </bs-panel>
  </div>
  </semantic-search-result-holder>
  <mp-knowledge-panel-frame></mp-knowledge-panel-frame>
</div>

