[[!-- include default ontodia customization templates --]]
[[> "http://www.metaphacts.com/resource/OntodiaUserTemplates" ]]

<div style="height: 800px">
          <ontodia id='ontodia' hide-navigation-confirmation=true
                   request-links-on-init=false
                   query="
                       PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
                        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                        PREFIX wdt: <http://www.wikidata.org/prop/direct/>
                        PREFIX wd: <http://www.wikidata.org/entity/>
                        PREFIX p: <http://www.wikidata.org/prop/>
                        PREFIX pq: <http://www.wikidata.org/prop/qualifier/>
                        PREFIX s: <http://www.wikidata.org/prop/statement/>

                        CONSTRUCT { ?type ?property ?database }
                        WHERE {
                           ?property wdt:P31/wdt:P279* wd:Q19887775 . # <http://www.wikidata.org/entity/Q21294996> .
                          ?property wdt:P31/wdt:P279* wd:Q19847637.
                          ?property wdt:P1629 ?database .

                          ?property p:P2302 ?constraint .
                          ?constraint s:P2302 wd:Q21503250 .
                          ?constraint pq:P2308 ?type .

                        }"
            [[> OntodiaClassAndLinksCustomization ]]
          >
              <ontodia-data-providers>
                  [[> "http://www.metaphacts.com/resource/OntodiaUserDataProvider" ]]
              </ontodia-data-providers>
              [[> "http://www.metaphacts.com/resource/OntodiaSimpleWorkspace" readonly=true]]
  </ontodia>
</div>
