<ol class="page-breadcrumb">
    <li>
      <semantic-link title="Start" uri='[[resolvePrefix "app:Start"]]'>Start</semantic-link>
    </li>
    <li>
      <semantic-link title="Examples" uri='[[resolvePrefix "app:Examples"]]'>Examples</semantic-link>
    </li>
    <li class="active">Form-based Search in the Life Sciences</li>
</ol>
[[#> app:FeatureDemonstration-demosystem title="Form Based Search in the Life Sciences"]]
  [[#*inline "motivation"]]
<p>In real life scenarios, users often have information needs that follow a certain recurring pattern and where a query which allows defining specific constraints on a number of parameters is best-suited. For instance, our user is a reseacher who is interested in the most recent state of the art in treatment of a specific diseases for his/her country or a number of countries. </p> 
    
  [[/inline]]
	[[#*inline "solution"]]
    <p> In metaphactory, to meet the need of end users for a parametrized search, one can set up a form-based Search. The relevant parameters are presented to the user as fields of a form. Each field can be either mandatory or optional. In this particular example, we present the search that allows to drill into research papers about a certain disease or specific diseases and published in a specific country or in specific countries. Try: <b>"Alzheimer's disease" </b> and <b>"France" </b> as parameters for your search. The faceted filters enable end users to further restrict results by defining a publication period or a specific author. 
 </p>
  [[/inline]]
  [[#*inline "configuration"]]

<div class="page">
<style>
  .DataTable--grouping-cell > div {
    color: white;
  }
</style>

<div class='page__body' style="margin-top: 40px;">
  <semantic-search
    limit='15000'
    categories='{
      "<http://metaphacts-platform.com/Year>": [{
        "kind": "numeric-range",
        "queryPattern": "{
          ?subject wdt:P577 ?publicationDate .
          BIND (YEAR(?publicationDate) as ?literal) .
          BIND(COALESCE(?__numericRangeBeginValue__, 0) as ?start)
          BIND(COALESCE(?__numericRangeEndValue__, 2033) as ?finish)
          BIND(?literal as ?numericRangeBeginValue)
          BIND(?literal as ?numericRangeEndValue)
          FILTER (?start <= ?literal)
          FILTER (?finish >= ?literal)
        }"
      }],
      "<http://metaphacts-platform.com/Author>": [{
        "kind": "literal",
        "queryPattern": "{
          {
            ?subject wdt:P50 ?author .
            ?author rdfs:label ?__literal__ .
          } UNION {
            ?subject wdt:P2093 ?__literal__ .
          }
        }"
      }]
    }'         
    search-profile='{ 
      "categories": [
        {
          "iri": "<http://www.wikidata.org/entity/Q13442814>",
          "label": "Article"
        },
        {
          "iri": "<http://metaphacts-platform.com/Author>",
          "label": "Author",
          "thumbnail": "../images/help/thenounproject/noun_1113333.svg"
        },
        {
          "iri": "<http://metaphacts-platform.com/Year>",
          "label": "Year"
        }
      ],
      "relations": [
        {
          "iri": "<http://metaphacts-platform.com/wirttenByAuthor>",
          "label": "Written by author",
          "hasDomain": "<http://www.wikidata.org/entity/Q13442814>",
          "hasRange": "<http://metaphacts-platform.com/Author>"
        },
        {
          "iri": "<http://metaphacts-platform.com/yearOfPublication>",
          "label": "Year of publication",
          "hasDomain": "<http://www.wikidata.org/entity/Q13442814>",
          "hasRange": "<http://metaphacts-platform.com/Year>"
        }
      ]
    }'
    [[>app:LifeScienceTypeSearchConfig]]>
    <semantic-search-form-query
      multi=true
      domain='<http://www.wikidata.org/entity/Q13442814>'
      query-template='{
          "queryString": "
          SELECT DISTINCT ?subject ?author ?countryOfPublication ?year WHERE {
              ?subject wdt:P921 ?disease .
              {
                ?subject wdt:P50 ?author .
              } UNION {
                ?subject wdt:P2093 ?author .
              }
              ?subject wdt:P1433 ?journal .
              ?journal wdt:P17 ?country .
              BIND(?country as ?countryOfPublication)
              OPTIONAL {
                ?subject wdt:P577 ?publicationDate .
                BIND (YEAR(?publicationDate) as ?year) .
              }

          }",
          "arguments": {
            "disease": {"type": "xsd:anyURI", "optional": false},
            "country": {"type": "xsd:anyURI", "optional": true}
          }
      }'
      fields='[
        {
          "id": "country",
          "label": "Country",
          "xsdDatatype": "xsd:anyURI",
          "autosuggestionPattern": "
            PREFIX lookup: <http://www.metaphacts.com/ontologies/platform/repository/lookup#>
            SELECT ?value ?label WHERE {

                SERVICE Repository:lookup {
                  ?value lookup:token ?__token__ .
                  ?value lookup:name ?label .
                  ?value lookup:type <http://www.wikidata.org/entity/Q3624078> .
                }
            }
          "
        },
        {
          "id": "disease",
          "label": "Disease",
          "xsdDatatype": "xsd:anyURI",
          "treePatterns": {
              "type": "full",
              "rootsQuery": "
                SELECT DISTINCT ?item ?label ?hasChildren WHERE {
                    ?item (wdt:P279|wdt:P31) <http://www.wikidata.org/entity/Q12136> .
                    ?item rdfs:label ?label .
                    FILTER(LANG(?label) = \"en\")
                    OPTIONAL { ?child <http://www.wikidata.org/prop/direct/P279> ?item . }
                    BIND(BOUND(?child) AS ?hasChildren)
                } ORDER BY ?label LIMIT 200
              ",
              "childrenQuery": "
                SELECT DISTINCT ?item ?label ?hasChildren WHERE {
                    ?item <http://www.wikidata.org/prop/direct/P279> ?parent .
                    ?item rdfs:label ?label .
                    FILTER(LANG(?label) = \"en\")
                    OPTIONAL { ?child <http://www.wikidata.org/prop/direct/P279> ?item . }
                    BIND(BOUND(?child) AS ?hasChildren)
                } ORDER BY ?label LIMIT 200
              ",
              "parentsQuery": "
                SELECT DISTINCT ?item ?parent ?parentLabel WHERE {
                    ?item <http://www.wikidata.org/prop/direct/P279> ?parent .
                    ?parent rdfs:label ?parentLabel .
                    FILTER(LANG(?parentLabel) = \"en\")
                } ORDER BY ?parentLabel LIMIT 200
              ",
              "searchQuery": "
                SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
                    SERVICE Repository:lookup {
                      ?item lookup:token ?__token__;
                            lookup:score ?score;
                            lookup:limit 10 ;
                            lookup:name ?label.
                    }
                   FILTER(EXISTS { ?treatment wdt:P2175 ?item })
                  BIND(true AS ?hasChildren)
                } ORDER BY DESC(?score) ?label LIMIT 200
              ",
              "searchQuery_disabled": "
                 SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
                    SERVICE Repository:lookup {
                      ?item lookup:token ?__token__;
                            lookup:score ?score;
                            lookup:type ?type ;
                            lookup:limit 10 ;
                            lookup:name ?label.
                    }
                    FILTER EXISTS {

                    }
                  BIND(true AS ?hasChildren)
                } ORDER BY DESC(?score) ?label LIMIT 200
              "
          }
        }]'>
        <div style="margin-bottom: 20px;">
          <bs-row>
            <bs-col sm="3" md="5">
              <semantic-form-tree-picker-input for='disease'></semantic-form-tree-picker-input>
            </bs-col>
            <bs-col sm="6" md="5">
              <semantic-form-autocomplete-input for='country'></semantic-form-autocomplete-input>
            </bs-col>
          </bs-row>
          <button type='button' name='submit' className='btn btn-primary'>Search</button>
        </div>
      </semantic-search-form-query>
      <semantic-search-facet-store id="facet"></semantic-search-facet-store>
      <div style='display: flex;'>
        <div style='flex: 0.33;'>          
          <semantic-search-facet-group></semantic-search-facet-group>
        </div>
        <semantic-search-result-holder>
          <div style='flex: 1;'>
            <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
            <semantic-search-result>
                <mp-sparql-result-counts  id='query-count' query="SELECT DISTINCT * {}" template='{{#if hasLimit}} <bs-alert variant="warning">
                          Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert>
                          {{else}}<span> found {{numberOfResults}} matches </span>{{/if}}'>
                </mp-sparql-result-counts>
            </semantic-search-result>
            <semantic-search-result>
              <div data-flex-layout='row stretch-stretch'>
                <div data-flex-self='sm-full'>
                  <semantic-table id='table-result'
                    options='{
                      "groupingOptions": {"groupedBy": ["subject"]}
                    }' 
                    query='SELECT DISTINCT ?subject ?author ?countryOfPublication ?year WHERE { }'
                    column-configuration='[
                      {
                        "variableName": "subject",
                        "displayName": "Article",
                        "cellTemplate": "{{> subjectTemplate}}",
                        "aggregationCellTemplate": "{{> subjectTemplate subject=rows.0.subject}}"
                      }, 
                      {"variableName": "author", "displayName": "Authors"},  
                      {"variableName": "countryOfPublication", "displayName": "Country of publication"},
                      {"variableName": "year", "displayName": "Year of publication"}
                    ]'>
                    <template id='subjectTemplate'>
                      <mp-knowledge-panel-trigger
                        iri='{{subject.value}}'
                        target='articles-kt'>
                      </mp-knowledge-panel-trigger>
                    </template>
                  </semantic-table>
                </div>
                <mp-knowledge-panel-frame id="articles-kt"></mp-knowledge-panel-frame>
              </div>

            </semantic-search-result>

            <bs-panel>
              <semantic-search-result>
                <mp-sparql-download id='csv-download'
                  query="SELECT * WHERE { }"
                  header="text/csv"
                  filename="csv-result.csv">
                  <button class="btn btn-secondary">Download CSV</button>
                </mp-sparql-download>
              </semantic-search-result>
              <semantic-search-result>
                <mp-sparql-download id='json-download'
                  query="SELECT * WHERE { }"
                  header="application/sparql-results+json"
                  filename="json-result.json">
                  <button class="btn btn-secondary">Download JSON</button>
                </mp-sparql-download>
              </semantic-search-result>
            </bs-panel>
          </div>
        </semantic-search-result-holder>
        <mp-knowledge-panel-frame id='knowledge-panel-1'></mp-knowledge-panel-frame>
      </div>
  </semantic-search>
</div>

</div>    
[[/inline]]
	[[#*inline "description"]]
		<p>Configuration description</p>
		<p><semantic-link iri="[[resolvePrefix "Help:SemanticMap"]]">Learn More</semantic-link></p>
	[[/inline]]
  [[#*inline  "features"]]
    <semantic-link iri='app:Start'>Semantic Search</semantic-link>,     <semantic-link iri='app:Start'>Similarity Search</semantic-link>
  [[/inline]]
  [[#*inline "demo"]]
    <div>
        [[> configuration]]
    </div>
  [[/inline]]
[[/app:FeatureDemonstration]]
 
 