<style>
  #search-results .table-custom-row {
    justify-content: space-between;
  }
</style>
<semantic-search-facet-store id="facet"></semantic-search-facet-store>
<div style='display: flex;'>
  <div style='flex: 0.33;'>
    <semantic-search-facet-group allow-multiple-open='true'></semantic-search-facet-group>   
  </div>

  <semantic-search-result-holder>
    <div style='flex: 1;'>
    <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
    <semantic-search-result>

    </semantic-search-result>

    <bs-tabs unmount-on-exit=true id='search-results'>
      <bs-tab event-key="1" title="Grid">
        <semantic-search-result>
          <semantic-table id="results-grid"
                          query='
              SELECT DISTINCT (?subject as ?item) WHERE {
              }
            '
                          tuple-template='{{> app:ItemCard}}'
                          options='{"showFilter":false}'
          >
          </semantic-table>
        </semantic-search-result>
      </bs-tab>
      <bs-tab event-key="2" title="Table">
        <semantic-search-result-context multi=true>
            <semantic-search-result>
                <semantic-search-table-result>
                  <semantic-table id="results-table"
                                  query='SELECT DISTINCT ?subject WHERE { FILTER(?__contextRelationPattern__) }'
                                  options='{"showFilter":false,
                                    "enableGrouping": false,
                                    "groupingOptions": {"groupedBy": ["subject"], "showOnlyAggregatedValue": true, "defaultAggregation":"concat"}
                                  }'
                                  column-configuration='[{
                        "variableName": "subject",
                        "displayName": "Subject",
                        "cellTemplate": "{{> subjectTemplate iri=subject.value}}"
                      }
                    ]'
                  >
                      <!-- this column configuration is rewritten by semantic-search-table-result in multi mode and we have only default rendering without panel trigger -->
                    <template id='subjectTemplate'>
                      <mp-knowledge-panel-trigger iri='{{iri}}'></mp-knowledge-panel-trigger>
                    </template>
                  </semantic-table>
                </semantic-search-table-result>
              </semantic-search-result>
        </semantic-search-result-context>
      </bs-tab>
      [[#if overrideCharts]]
          [[> overrideCharts]]
      [[else]]
      <bs-tab event-key="3" title="Chart">
        <semantic-search-result-context ranges='["http://www.wikidata.org/entity/Q215627", "http://www.wikidata.org/entity/Q43229", "http://www.wikidata.org/entity/Q17334923", "http://www.w3.org/2002/07/owl#Class"]'>
          <semantic-search-result>
            <semantic-chart id="results-chart"
                            query='
                  SELECT ?object (COUNT(?subject) as ?count) WHERE {
                  OPTIONAL { ?subject ?__contextRelation__ ?object_temp }
                      BIND(IF(BOUND(?object_temp), ?object_temp, "none") as ?object)
                  } GROUP BY ?object ORDER BY DESC(?count)
              '
                            provider='chartjs'
                            type='bar'
                            types='["line", "bar", "radar", "pie", "donut"]'
                            sets='[{
                  "category": "object",
                "value": "count"
              }]'>
            </semantic-chart>
          </semantic-search-result>
        </semantic-search-result-context>
      </bs-tab>
      [[/if]]
      [[#if customTabs]]
          [[> customTabs]]
      [[/if]]
    </bs-tabs>

    <bs-panel>
      <semantic-search-result>
      <mp-overlay-dialog title="SPARQL Query" bs-size="large">
                    <mp-overlay-dialog-trigger>
                      <button class="btn btn-secondary mr-2" style="margin-right:10px">Show Query</button>
                    </mp-overlay-dialog-trigger>
                    <mp-overlay-dialog-content>
                      <semantic-search-display-query></semantic-search-display-query>
                      <div style="display: flex;justify-content: flex-end;">
                        <mp-event-trigger type="Dialog.HideAll">
                          <button class="btn btn-primary">Close</button>
                        </mp-event-trigger>
                      </div>
                    </mp-overlay-dialog-content>
                  </mp-overlay-dialog>
      </semantic-search-result>
      <semantic-search-result>
        <mp-sparql-download id="csv-download" query="SELECT * WHERE { }"
                            header="text/csv"
                            filename="csv-result.csv"
        >
          <button class="btn btn-secondary mr-2">Download CSV</button>
        </mp-sparql-download>
      </semantic-search-result>
      <semantic-search-result>
        <mp-sparql-download id="json-download" query="SELECT * WHERE { }"
                            header="application/sparql-results+json"
                            filename="json-result.json"
        >
          <button class="btn btn-secondary mr-2">Download JSON</button>
        </mp-sparql-download>
        <semantic-search-action-use-result-in-extended-search>
          <button class="btn btn-secondary mr-2">Use in Search</button>
        </semantic-search-action-use-result-in-extended-search>
        <semantic-search-action-save-set-result id='save-set-result-action'>
                  <button
                    class="btn btn-secondary mr-2"
                  >Save As Set</button>
        </semantic-search-action-save-set-result>
      </semantic-search-result>
    </bs-panel>
  </div>
  </semantic-search-result-holder>
  <mp-knowledge-panel-frame></mp-knowledge-panel-frame>
</div>
