<ol class="page-breadcrumb">
    <li>
      <semantic-link title="Start" iri='[[resolvePrefix "app:Start"]]'>Start</semantic-link>
    </li>
    <li>
      <semantic-link title="Start" iri='[[resolvePrefix "app:LifeSciences"]]'>Life Sciences</semantic-link>
    </li>
    <li class="active">Life sciences structured search</li>
</ol>

<div class="page">
  <div class='page__body'>
    <semantic-search limit=1000 disable-optimizer=false
  		[[>app:LifeScienceSearchConfig]]>
      <semantic-search-query-builder
        resource-selector='{
          "query": "
              PREFIX lookup: <http://www.metaphacts.com/ontologies/platform/repository/lookup#>
              SELECT DISTINCT ?suggestion (?name AS ?label) ?description WHERE {
                 SERVICE Repository:lookup  {
                     ?suggestion lookup:token ?__token__  
                 }
                 FILTER(EXISTS { ?subject ?__relation__ ?suggestion . }) .
                 BIND( xsd:integer(substr(str(?resource), 33)) as ?q)
             } ORDER BY DESC(?scorer) ASC(?q) LIMIT 30
         ",
         "suggestionTupleTemplate": "<span title=\"{{label.value}}\">{{label.value}} ({{description.value}})</span>",
         "noSuggestionsTemplate": "<div class=\"suggestion-no-matches\">no matches found</div>",
         "escapeLuceneSyntax": false,
         "tokenizeLuceneQuery": false
                     
       }'                   
      >
      </semantic-search-query-builder>
      [[> app:StructuredSearchResultsTemplate]]
    </semantic-search>
  </div>
</div>
