
<style>
  .semantic-carousel .slick-arrow {
    width: initial;
    height: initial;
  }

  @media (min-width: 900px) {
    .slick-list {
      margin: 0 50px!important;
      padding: 0!important;
    }

    .slick-center .semantic-carousel-item {
      display: flex;
      justify-content: center;
    }
    .slick-center .carousel-imagetext {
      width: 400px;
      height: 250px;
      min-width: 100%;
      z-index: 2;
      transform: scale(1);
    }

    .semantic-carousel-item {
      padding: 30px 18px;
    }
    .carousel-imagetext {
      transform: scale(0.6);
    }

    .carousel-imagetext .carousel-imagetext__overlay {
      font-size: 12px;
    }

    .carousel-imagetext__overlay-header {
      font-size: initial;
    }
  }

  .carousel-imagetext__overlay-header {
    font-size: 20px;
    font-weight: bold;
  }

  .carousel-imagetext {
    width: 100%;
    flex-shrink: 0;
    background-color: white;
    transition: width 0.4s, transform 0.2s;
    padding: 10px;
    box-shadow: 0px -2px 13px 4px #0000005e;
    position: relative;
    height: 250px;
  }

  .carousel-imagetext__image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-imagetext__image img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .carousel-imagetext__overlay {
    transition: opacity 0.3s;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0.2;
    background-color: dimgray;
    font-size: 10px;
    text-align: justify;
  }

  .carousel-imagetext__overlay h3, .carousel-imagetext__overlay a {
    color: white;
  }

  .slick-center .carousel-imagetext__overlay {
    opacity: 0.5;
  }

  .grid-resource-outer-link {
    display: none;
  }

  .grid-resource-outer-link div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .slick-center .grid-resource-outer-link {
    display: block;
  }

  .carousel-imagetext__overlay:hover {
    opacity: 0.8;
  }

  .slick-slider button::before {
    font-size: 24px;
  }

  .powered-by-label {
    display: flex; align-items: flex-end;
  }
  @media (min-width: 1000px) {
    .powered-by-label {
      transform: translate(90px, 0px);
    }
  }
  @media (min-width: 1000px) {
    .guide-tour {
      transform: translate(110px, 0px);
    }
  }

  .guide-tour__tour-row:hover .tour-text-holder,
  .guide-tour__examples-row:hover .examples-text-holder {
    text-decoration: underline;
  }

  .guide-tour__tour-row,
  .guide-tour__examples-row {
    display: flex;
    cursor: pointer;
  }

  .tour-icon-holder,
  .examples-icon-holder {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .tour-text-holder,
  .examples-text-holder {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-left: 2px solid #e95226;
    margin-bottom: 20px;
    color: black;
  }

  .guide-tour img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .advanced-search {
    font-size: 20px;
  }

  .joyride-tooltip__header {
    border-bottom: 1px solid #e95226;
  }

  .joyride-tooltip__button--primary {
    background-color: #e95226;
  }
  .joyride-tooltip__button--primary:active,
  .joyride-tooltip__button--primary:focus {
    background-color: #e95226;
  }
  .joyride-tooltip__button--primary:hover {
    background-color: #d34e25;
  }
</style>

<div>
  <div class='page__body'>
    <bs-row style = "padding-bottom: 30px;">
      <bs-col sm=10 sm-offset=1 class="text-center">
       <h1 style="padding-top:25px;"><b>Welcome to the metaphactory demo system</b></h1>
        <h4><b>This demo system is based on the open Wikidata knowledge graph!</b></h4>
      </bs-col>
    </bs-row>
    <bs-row>
      <bs-col sm=4 sm-offset=4 class="text-center">
        <img
          id='wikidata-image'
          style="margin-bottom: 20px;"
          width="150"
          src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/Wikidata-logo-en.svg/1052px-Wikidata-logo-en.svg.png"/>
        <br>
        <div style="height: 60px; text-align:left;">
            <semantic-simple-search
              query='
                PREFIX lookup: <http://www.metaphacts.com/ontologies/platform/repository/lookup#>
                SELECT ?resource (?name AS ?label) ?description WHERE {
                  SERVICE Repository:lookup {
                      ?resource lookup:token ?__token__  .
                      ?resource lookup:limit 10 .
                  }
                } ORDER BY DESC(?score)
              '
              template='{{> suggestion}}'
              placeholder='Search for something e.g. "Covid"'
              escape-lucene-syntax=false
              tokenize-lucene-query=false
            >
              <template id='suggestion'>
                <span title='{{resource.value}}'>
                  <mp-resource-thumbnail iri='{{resource.value}}' style="height: 30px;"></mp-resource-thumbnail> {{label.value}} ({{description.value}})
                </span>
              </template>
            </semantic-simple-search>
        </div>
        <!-- <semantic-link iri='[[resolvePrefix "app:About"]]'>About</semantic-link> | -->
        <!--<span class='advanced-search'>
          <semantic-link iri='[[resolvePrefix "app:StructuredSearchGeneral"]]'>Advanced Search</semantic-link>
        </span>-->
        <br/>
      </bs-col>
      <bs-col sm=3 sm-offset=1>
        <div class="guide-tour">
          <mp-event-trigger id='guided-tour-wikidata-start' type='GuidedTour.Start' targets='["guided-tour-wikidata"]'>
            <div class="guide-tour__tour-row">
              <div class="tour-icon-holder">
                <img src='/assets/no_auth/images/guide.png'/>
              </div>
              <div class="tour-text-holder">
                <span>Take a guided tour</span>
              </div>
            </div>
          </mp-event-trigger>
          <semantic-link iri='[[resolvePrefix "app:Examples"]]'>
            <div class="guide-tour__examples-row">
              <div class="examples-icon-holder">
                <img src='/assets/no_auth/images/example.png'/>
              </div>
              <div class="examples-text-holder">
                Explore our example collection
              </div>
            </div>
          </semantic-link>
        </div>
      </bs-col>
    </bs-row>
    <bs-row>
      <bs-col sm=10 sm-offset=1 class="text-center" style="margin-top: 40px;">
        <h2><b>Use Cases</b></h2>
        <semantic-carousel
          options='{
            "lazyLoad": false,
            "infinite": true,
            "initialSlide": 1,
            "draggable": true,
            "slidesToShow": 3,
            "centerMode": true,
            "focusOnSelect": true,
            "autoplay": false,
            "autoplaySpeed": 4500
          }'
          query="SELECT ?subject ?thumbnail ?header ?text WHERE {
              VALUES (?subject ?thumbnail ?header ?text){
                (
                  app:Geiser
                  '/images/help/map-widget.png'
                  'Exploration of sensor based geo data'
                  'Explore sone of the examples we have built as part of an open, service-based cloud platform for the acquisition, transformation, storage, integration, quality assurance, and efficient processing of sensor based geo data.'
                )
                (
                  app:LifeSciences
                  'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Peptide_bond.png/300px-Peptide_bond.png' 'Life Sciences'
                  'Explore relations between diseases, drugs, symptoms, genes, and proteins, and find out what metaphactory can do for drug discovery, drug repurposing, clinical trial scoping and more.'
                )
                (
                  wd:Q81068910
                  'https://commons.wikimedia.org/wiki/Special:FilePath/COVID-19%20Nurse%20%28cropped%29.jpg'
                  'Covid-19 Pandemic 2020'
                  'Explore real-time data about the Covid-19 pandemic to learn how it has spread, how countries have been affected and explore individuals who have been infected.'
                )
              }
          }"
          tuple-template='{{> tuple-template}}'>
          <template id="tuple-template">
            <div>
              <div class="carousel-imagetext">
                <div class="carousel-imagetext__image">
                  <img src="{{thumbnail.value}}"
                    style="max-height: 80%; max-height: 80%;"
                    class="img-rounded"/>
                </div>
                <semantic-link
                  title="{{header.value}}"
                  class="grid-resource-outer-link"
                  uri="{{subject.value}}">
                  <div></div>
                </semantic-link>
                <div class="carousel-imagetext__overlay">
                  <semantic-link
                    title="{{header.value}}"
                    class="grid-resource-link"
                    uri="{{subject.value}}">
                    <h3 class="carousel-imagetext__overlay-header">{{header.value}}</h3>
                    <p>{{text.value}}</p>
                  </semantic-link>
                </div>
              </div>
            </div>
          </template>
        </semantic-carousel>
      </bs-col>
    </bs-row>
  </div>
</div>

<rs-guided-tour id='guided-tour-wikidata' steps='[{
  "title": "Welcome",
  "text": "<p>This metaphactory demo system is based on the Wikidata data set and connects to other data sources (e.g., OpenStreetMap, MeSH, DBLP) via federation.</p>",
  "selector": "#wikidata-image",
  "position": "left"
}, {
  "title": "Semantic search",
  "text": "<p>The semantic search component with integrated disambiguation allows you to experience search results in context.</p>",
  "selector": ".search-widget",
  "position": "right"
}, {
  "title": "Use cases",
  "text": "<p>Here you can explore a small selection of the use cases supported by metaphactory on the Wikidata dataset. Just imagine what it could do for you!</p>",
  "selector": ".slick-center[tabindex=\"-1\"] .carousel-imagetext",
  "position": "top"
}, {
  "title": "Example gallery",
  "text": "<p>The example gallery allows you to browse through pre- configured metaphactory components and discover how they work in practice.</p>",
  "selector": ".examples-text-holder",
  "position": "bottom"
}, {
  "title": "Get started",
  "text": "<p>Time to get started! Search for anything in the Wikidata dataset. Try something that could mean different things, like “Corona”.</p>",
  "selector": ".search-widget",
  "position": "right"
}]'>

</rs-guided-tour>