<style>
  .page {
    padding-top: 0px;
  }
</style>


<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'></div>
    <div class='page__header-body'>
      <h1 style="margin-top: 0;">Collection of Corona Examples</h1>

    </div>
  </div>
  <div class="page__body">

    <h2>Relevant Entities</h2>
    <ul>
      <li><semantic-link iri='[[resolvePrefix "wd:Q81068910"]]'>2019-2020 Covid-19 pandemic</semantic-link></li>  
    </ul>


    <h2>Sample Queries</h2>
    <ul>

      <li><semantic-link iri='[[resolvePrefix "app:CovidAffectedPeopleSearch"]]'>Search for People affected by Covid-19</semantic-link></li>  
      <li><semantic-link iri='[[resolvePrefix "app:CovidAffectedCountries"]]'>Countries affected by Covid-19</semantic-link></li>
      <li><semantic-link iri='[[resolvePrefix "app:CovidByCountry"]]'>Covid-19 affections by country</semantic-link></li> 
      
    </ul>
  </div>  
</div>