{{!-- Declaration of the default node style --}}
<template-fragment export id='defaultNodeStyle'>{{pass-value undefined}}</template-fragment>
{{!-- Example for default node style:
{
  "color": "red"
}
--}}

{{!-- Declaration of the node styles for a type.
  By default, foreign-node is used to mark resources outside of current context
  (e.g. specific ontology or a named graph).
--}}
<template-fragment export id='nodeStyles'>{
  "http://www.metaphacts.com/ontologies/platform#foreign-node": { "color": "#b7b7b7" }
}</template-fragment>


<template-fragment export id='canvas'>
  {{!-- Please place here declaration of the templates to be used as default or by type
    e.g. default-node-template='{{> default}}'
    or node-templates='{"http://example.com/Person": "{{> person}}"}'
  --}}
  <ontodia-canvas id='{{pass-value id}}'
    style='{{pass-value style}}'
    auto-zoom='{{pass-value auto-zoom}}'
    use-default-navigation-menu='{{pass-value use-default-navigation-menu}}'
    use-knowledge-panel='{{pass-value use-knowledge-panel}}'>
    {{> @partial-block}}
  </ontodia-canvas>
</template-fragment>
