search-profile='{
      	"categories": [{
        	"iri": "<http://www.wikidata.org/entity/Q12136>",
          "label": "Disease",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/4/43/Blue_circle_for_diabetes.svg/32px-Blue_circle_for_diabetes.svg.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q12140>",
          "label": "Medication",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/4/4f/Farm-Fresh_pill.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q7187>",
          "label": "Gene",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/0/07/Gene.png/32px-Gene.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q8054>",
          "label": "Protein",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Peptide_bond.png/32px-Peptide_bond.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q16521>",
          "label": "Taxon",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Hierarchical_clustering_diagram.png/32px-Hierarchical_clustering_diagram.png"
        }],
        "relations": [{
          "hasDomain": "<http://www.wikidata.org/entity/Q7187>",
          "iri": "<http://www.wikidata.org/prop/direct/P703>",
          "hasRange": "<http://www.wikidata.org/entity/Q16521>",
          "label": "found in"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q7187>",
          "iri": "<http://www.wikidata.org/prop/direct/P688>",
          "hasRange": "<http://www.wikidata.org/entity/Q8054>",
          "label": "encodes"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q8054>",
          "iri": "<http://www.wikidata.org/prop/direct/P702>",
          "hasRange": "<http://www.wikidata.org/entity/Q7187>",
          "label": "encodedBy"
        },  {
          "hasDomain": "<http://www.wikidata.org/entity/Q8054>",
          "iri": "<http://www.wikidata.org/prop/direct/P703>",
          "hasRange": "<http://www.wikidata.org/entity/Q16521>",
          "label": "found in"
        },  {
          "hasDomain": "<http://www.wikidata.org/entity/Q12140>",
          "iri": "<http://www.wikidata.org/prop/direct/P2175>",
          "hasRange": "<http://www.wikidata.org/entity/Q12136>",
          "label": "medical condition treated"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q12136>",
          "iri": "<http://www.wikidata.org/prop/direct/P2176>",
          "hasRange": "<http://www.wikidata.org/entity/Q12140>",
          "label": "drug used for treatment"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q12140>",
          "iri": "<http://www.wikidata.org/prop/direct/P769>",
          "hasRange": "<http://www.wikidata.org/entity/Q12140>",
          "label": "drug interaction"
        },{
          "hasDomain": "<http://www.wikidata.org/entity/Q12136>",
          "iri": "<http://www.wikidata.org/prop/direct/P2293>",
          "hasRange": "<http://www.wikidata.org/entity/Q7187>",
          "label": "genetic association"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q7187>",
          "iri": "<http://www.wikidata.org/prop/direct/P2293>",
          "hasRange": "<http://www.wikidata.org/entity/Q12136>",
          "label": "genetic association"
        }]
      }'

