[[#> app:StructuredSearchResultsTemplate overrideCharts=true]]
  [[#*inline "overrideCharts"]]
      <bs-tab event-key="3" title="Chart">
        <semantic-search-result-holder domains-exclude='["http://www.wikidata.org/entity/Q169872", "http://www.wikidata.org/entity/Q16521", "http://www.wikidata.org/entity/Q2996394", "http://www.wikidata.org/entity/Q15989253"]'>
            <semantic-search-result-context ranges='["http://www.w3.org/2002/07/owl#Class", "http://www.wikidata.org/entity/Q12136", "http://www.wikidata.org/entity/Q169872", "http://www.wikidata.org/entity/Q12140", "http://www.wikidata.org/entity/Q7187", "http://www.wikidata.org/entity/Q8054", "http://www.wikidata.org/entity/Q16521", "http://www.wikidata.org/entity/Q2996394", "http://www.wikidata.org/entity/Q15989253", "http://www.wikidata.org/entity/Q1"]'>
              <semantic-search-result>
                <semantic-chart id="results-chart"
                                query='
                      SELECT ?object (COUNT(?subject) as ?count) WHERE {
                      ?subject ?__contextRelation__ ?object
                      } GROUP BY ?object ORDER BY DESC(?count) LIMIT 20
                  '
                                provider='chartjs'
                                type='bar'
                                types='["line", "bar", "radar", "pie", "donut"]'
                                sets='[{
                      "category": "object",
                    "value": "count"
                  }]'>
                </semantic-chart>
              </semantic-search-result>
            </semantic-search-result-context>
        </semantic-search-result-holder>
        <semantic-search-result-holder domains-include='["http://www.wikidata.org/entity/Q169872", "http://www.wikidata.org/entity/Q16521", "http://www.wikidata.org/entity/Q2996394", "http://www.wikidata.org/entity/Q15989253"]'>
            <div>Chart visualization is not available for selected search category</div>
        </semantic-search-result-holder>
      </bs-tab>
  [[/inline]]
[[/app:StructuredSearchResultsTemplate]]
