<style>
    .page {
     padding-top: 0px;
  }
</style>
<ol class="page-breadcrumb">
    <li>
      <semantic-link title="Start" uri='[[resolvePrefix "app:Start"]]'>Start</semantic-link>
    </li>
    <li>
      <semantic-link title="Examples" uri='[[resolvePrefix "app:Examples"]]'>Examples</semantic-link>
    </li>
    <li class="active">Federated queries over OpenStreetMap and Wikidata (Piran)</li>
</ol>
[[#> app:FeatureDemonstration-demosystem title="Federated queries over OpenStreetMap and Wikidata (Piran)"]]
  [[#*inline "motivation"]]
   We want to show a map that combines data from multiple sources: 
<ul><li>Entities located within in particular administrative entity, </li>
  <li> coordinates of these entities, either from Wikidata directly, or if available, as polygons provided by OpenStreetMap (OSM).</li>
</ul>
  [[/inline]]
	[[#*inline "solution"]]
    <p>OpenStreetMap (OSM) is integrated as a virtual repository in an Ephedra federation. A federated SPARQL query is issued against Wikidata and OSM that queries for particular entities (here: entities in the municipality of Piran), and their location. Locations are taken as polygons from OSM, or if not available as point coordinates from Wikidata. The join across the two repositories becomes possible as OSM uses Wikidata IDs.</p>
      
      <p>The query result is then visualized using the Semantic Map component, which is able to display polygon areas as well as point coordinates (in WKT format)  </p>
  [[/inline]]
  [[#*inline "configuration"]]
<div class='page__body' style="margin-top: 40px;">
<semantic-map query='
PREFIX osm: <http://www.metaphacts.com/ontologies/osm#>
PREFIX wdt: <http://www.wikidata.org/prop/direct/>
PREFIX wd: <http://www.wikidata.org/entity/>

SELECT (?subject as ?link) ?wkt WHERE {

  SERVICE Repository:default {
    ?subject wdt:P131* wd:Q565170 ;
            wdt:P625 ?wkt_wikidata
  }
  OPTIONAL { 
    ?subject wdt:P402 ?code .
    SERVICE <http://www.metaphacts.com/ontologies/platform/repository/federation#openstreetmap-lookup> 
      {
              ?results osm:osmId ?code.
              ?results rdfs:label ?label .
              ?results osm:polygon ?wkt_osm .
              ?results osm:wikidataID ?wikidataID .
      }
  }
  BIND(COALESCE(?wkt_osm, ?wkt_wikidata) as ?wkt)
}
'></semantic-map>
  </div>
  [[/inline]]
	[[#*inline "description"]]
		<p>Configuration description</p>
		<p><semantic-link iri="[[resolvePrefix "Help:SemanticMap"]]">Learn More</semantic-link></p>
	[[/inline]]
  [[#*inline "features"]]
    <semantic-link iri='http://example.com'>SPARQL Federation</semantic-link>, <semantic-link iri='http://example.com'>Ephedra</semantic-link>, <semantic-link iri='http://example.com'>Geographic Map Component</semantic-link>
  [[/inline]]
  [[#*inline "demo"]]
    <div style='height: 500px'> 
        [[> configuration]]
    </div>
  [[/inline]]
[[/app:FeatureDemonstration]]