<style>
    .component-page-toolbar { display: none}
  
.SemanticSearchFacet--facetsGroupMinWidth {
  padding-right: 24px;
}
.page {
  padding-top: 20px;
	background: aliceblue;
}

  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 280px);
  }
  
  .panel-primary > .panel-heading {
    color: black;
    background-color: #fafaf9;
    border-color: #008cba;
  	height: 60px;
 		padding: 20px 20px 20px 20px; 
	}
 
  .panel-primary {
  	border-color: #008cba;
   	background-color: #fafaf9;
    border-radius: 2px;
    border-left-width: 10px;
  }  
  
   .card-header {
    	padding: .75rem 1.25rem;
    	margin-bottom: 0;
      text-align: left;
    	background-color: rgba(0,0,0,.03);
    	border-bottom: 1px solid rgba(0,0,0,.125);
		}
    
    .card-body {
    	-webkit-box-flex: 1;
			flex: 1 1 auto;
      min-height: 1px;
      padding: 1.5rem;
		}
    
    .card-deck {
    	display: flex;
		}
    
    .card {
      position: relative;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #edf2f9;
      border-radius: .5rem;
      word-wrap: break-word;
      margin-bottom: 1.5rem;
    }
  
  	.card-columns {
    	column-count: 2;
	}
  	.search {
      position: relative;
			min-height: 1px;
			padding: 30px;
  }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 500px) {
      .row.content {height: auto;} 
    }
    @media (min-width: 500px) {
			.card-deck {
    		-webkit-box-orient: horizontal;
    		-webkit-box-direction: normal;
    		-ms-flex-flow: row wrap;
    		flex-flow: row wrap;
    		margin-right: 15px;
    		margin-left: 15px;
			}
      .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
}
    }
</style>

[[!-- include default ontodia customization templates --]]
[[> "http://www.metaphacts.com/resource/OntodiaUserTemplates" ]]

<div class="page">
	<div class="card-deck">
    <div class="card mb-3">
      <div class="card-body">
      	<img src='[[singleValueFromSelect "SELECT ?image WHERE{?? <http://www.wikidata.org/prop/direct/P18>|<http://www.wikidata.org/prop/direct/P41>|<http://www.wikidata.org/prop/direct/P154> ?image }"]]' class="img-responsive img-thumbnail" style="max-height:250px;display:block;margin-left:auto;margin-right:auto;">
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-title" style="text-align: center">
        <h1>
          <mp-label iri='[[this]]'></mp-label>
        </h1>
      </div>
      <div class="card-body">
        <ontodia id='ontodia' hide-navigation-confirmation=true

                query='
                PREFIX wd: <http://www.wikidata.org/entity/>
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX wdt: <http://www.wikidata.org/prop/direct/>

                        CONSTRUCT { ?? wdt:P31 ?type .
                          ?? wdt:P828 ?causes . }
                        WHERE {
													?? wdt:P31 ?type .
                          ?? wdt:P828 ?causes .
                       }'
                      >
              <ontodia-canvas auto-zoom=true [[> OntodiaCanvasTemplatesDeclaration]]>
                [[> OntodiaCanvasTemplates ]]
                <ontodia-halo></ontodia-halo>
                <ontodia-halo-link></ontodia-halo-link>
                <ontodia-snaplines></ontodia-snaplines>
                <ontodia-selection></ontodia-selection>
              </ontodia-canvas>
          </ontodia>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <semantic-map
          query='
        PREFIX wdt: <http://www.wikidata.org/prop/direct/>

        SELECT ?country ?country_outbreak ?wkt (max(?cases) as ?current_cases) (max(?deaths) as ?current_deaths) WHERE {
          ?list wdt:P1269 ?? .
          ?country_outbreak wdt:P361 ?list;
            wdt:P17 ?country;
              wdt:P625 ?wkt
          OPTIONAL { ?country_outbreak wdt:P1603 ?cases. }
          OPTIONAL { ?country_outbreak wdt:P1120 ?deaths. }
        }
        GROUP BY  ?country    ?country_outbreak  ?wkt
        ORDER BY DESC (?cases) DESC (?deaths)
          '       
          tuple-template='<semantic-link title="{{{country.value}}}" uri="{{{country_outbreak.value}}}"></semantic-link><br/><b>Cases: {{current_cases.value}}<br/> Deaths: {{current_deaths.value}}</b>'
        ></semantic-map>
      </div>
  	</div>
  </div>
	<div class="search">
  <h2>People affected by Covid-19</h2>
  <semantic-search
    categories='{
    	"<http://www.w3.org/2001/XMLSchema#dateTime>": [
         {
           "kind": "date-range",
           "datatype": "http://www.w3.org/2001/XMLSchema#dateTime",
           "queryPattern": "{
              $subject ?__relation__ ?date .
              FILTER(?date <= ?__dateEndValue__) .
              FILTER(?date >= ?__dateBeginValue__) .
           }"
         }
      ]
    }'
    search-profile='{
      "categories": [{
        "iri": "<http://www.wikidata.org/entity/Q5>",
        "label": "Person"
      }, {
        "iri": "<http://www.wikidata.org/entity/Q6256>",
        "label": "Country"
      }, {
        "iri": "<http://www.wikidata.org/entity/Q4369513>",
        "label": "Gender"
      }, {
      	"iri": "<http://www.w3.org/2001/XMLSchema#dateTime>",
        "label": "Date"
      }, {
      	"iri": "<http://www.wikidata.org/entity/Q28640>",
        "label": "Profession"
      }],
      "relations": [{
        "hasDomain": "<http://www.wikidata.org/entity/Q5>",
        "iri": "<http://www.wikidata.org/prop/direct/P27>",
        "hasRange": "<http://www.wikidata.org/entity/Q6256>",
        "label": "country of citizenship"
      }, {
        "hasDomain": "<http://www.wikidata.org/entity/Q5>",
      	"iri": "<http://www.wikidata.org/prop/direct/P21>",
        "hasRange": "<http://www.wikidata.org/entity/Q4369513>",
      	"label": "gender"
      }, {
        "hasDomain": "<http://www.wikidata.org/entity/Q5>",
        "iri": "<http://www.wikidata.org/prop/direct/P569>",
        "hasRange": "<http://www.w3.org/2001/XMLSchema#dateTime>",
        "label": "date of birth"
      }, {
        "hasDomain": "<http://www.wikidata.org/entity/Q5>",
        "iri": "<http://www.wikidata.org/prop/direct/P106>",
        "hasRange": "<http://www.wikidata.org/entity/Q28640>",
        "label": "occupation"
      }]
    }'>
      <semantic-search-query-constant 
        domain='<http://www.wikidata.org/entity/Q5>'
        query='
          PREFIX wdt: <http://www.wikidata.org/prop/direct/>
          SELECT ?subject WHERE {
            ?subject wdt:P31 wd:Q5 .
            ?subject wdt:P1050 wd:Q84263196 .
          }
        '>
      </semantic-search-query-constant>

      <semantic-search-facet-store id="facet"></semantic-search-facet-store>
      <div style='display: flex;'>
        <semantic-search-facet-holder style='flex: 0.33;' collapsible='left'>
              <semantic-search-facet-group show-header='false'></semantic-search-facet-group>
        </semantic-search-facet-holder>

        <semantic-search-result-holder>
          <div style='flex: 1;'>
          <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>

          <semantic-search-result>
            <mp-sparql-result-counts id='result-counts'
              query='SELECT DISTINCT * {}' 
              template='{{#if hasLimit}} <bs-alert variant="warning"> Showing <span class="num-results">{{numberOfResults}}</span> of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert> {{else}} <span>found <span class="num-results">{{numberOfResults}}</span> matches</span> {{/if}}'>
            </mp-sparql-result-counts>
          </semantic-search-result>

					<semantic-search-result>
					  <semantic-table id='results-table'
					    query='
					      PREFIX wdt: <http://www.wikidata.org/prop/direct/>
					      SELECT DISTINCT ?subject ?image WHERE {
					        OPTIONAL { ?subject wdt:P18 ?image. }
					      } ORDER BY DESC(?image)
					    '
					    number-of-displayed-rows=5
					    tuple-template='{{> tupleTemplate}}'
					  >
            	<template id='tupleTemplate'>
            	  <div style="height: 200px; width: 250px; margin: 10px;" class="panel panel-default">         
            	    <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis;">
            	      <semantic-link uri="{{subject.value}}"/>
            	    </div>
            	    <div class="panel-body">
            	      <img 
            	         class="img-responsive img-thumbnail"
            	         style="max-height:130px;display:block;margin-left:auto;margin-right:auto;"
            	         src="{{image.value}}"
            	        />
            	    </div>
            	  </div>      
            	</template>
          	</semantic-table>
        	</semantic-search-result>
    		</div>
  		</semantic-search-result-holder>
		</div>
	</semantic-search>
  </div>
  <div class="card-deck">
    <div class="card mb-12">
      <div class="card-title" style="text-align: center">
      	<h2>Cases by country</h2>
      </div>
      <div class="card-body"> 
       <semantic-chart provider="highcharts" 
                     type="line" 
                 query='
            PREFIX wdt: <http://www.wikidata.org/prop/direct/>
            PREFIX wd: <http://www.wikidata.org/entity/>
            PREFIX p: <http://www.wikidata.org/prop/>
            PREFIX ps: <http://www.wikidata.org/prop/statement/>
            PREFIX pq: <http://www.wikidata.org/prop/qualifier/>
            SELECT ?country(xsd:date(?dateTime) as ?date) ?cases WHERE {
              wd:Q83741704 wdt:P527 ?covidCountry .
              ?covidCountry wdt:P17 ?country .
              ?covidCountry p:P1603 ?casesStmt .
              ?casesStmt ps:P1603 ?cases .
              ?casesStmt pq:P585 ?dateTime .
            } ORDER BY ASC(?date)
          ' 
                 multi-data-set='{"dataSetVariable": "country", "category": "date", "value": "cases"}'
              styles='[{"provider": "highcharts", "style": {
                      "yAxis": {"title": { "text": "cases"}, "allowDecimals": false},
                      "plotOptions": { "series": { "visible" : false }}
      }}]'
          >
       </semantic-chart>
      </div>
    </div>
  </div>
</div>