<ol class="page-breadcrumb">
    <li>
      <semantic-link title="Start" uri='[[resolvePrefix "app:Start"]]'>Start</semantic-link>
    </li>
    <li>
      <semantic-link title="Examples" uri='[[resolvePrefix "app:Examples"]]'>Examples</semantic-link>
    </li>
    <li class="active">Spatial Queries & Map Component</li>
</ol>

[[#> app:FeatureDemonstration-demosystem title="Spatial Queries & Map Component"]]
  [[#*inline "motivation"]]
<p> Chemical Structure Search is used to represent chemical formulas depend on the user's request. </p> 
    
  [[/inline]]
	[[#*inline "solution"]]
    <p>The user can easily search for a particular chemical formula by drawing it on the board, as well as find similar ones using similarity threshold.
 </p>
  [[/inline]]
  [[#*inline "configuration"]]


<div class="page">
 <div class='page__body' style="margin-top: 40px;">
    <h2><b>Objects within 10 km radius from the centre of Berlin</b></h2>
   <br>
    <pre>
    <code>
    PREFIX geo: &lt;http://www.bigdata.com/rdf/geospatial#&gt;
    PREFIX example: &lt;http://www.example.com/&gt;
    SELECT ?lat ?lng ?description ?link WHERE {
    SERVICE geo:search {
        ?link geo:search "inCircle" .
        ?link geo:predicate &lt;http://www.wikidata.org/prop/direct/P625&gt;.
        ?link geo:spatialCircleCenter "52.516666666667#13.383333333333" . # Berlin
        ?link geo:spatialCircleRadius "10" . # default unit: Kilometers
        ?link geo:locationValue ?locationValue. 
        ?link geo:coordSystem "2" . 
        ?link geo:latValue ?lat.
        ?link geo:lonValue ?lng .  
      }
      ?link rdfs:label ?description 
      FILTER (LANG(?description) = "en")
    }
    </code>
    </pre>
    <semantic-map query='PREFIX geo: <http://www.bigdata.com/rdf/geospatial#>
                          PREFIX example: <http://www.example.com/>
                          SELECT ?lat ?lng ?description ?link WHERE {
                          SERVICE geo:search {
                              ?link geo:search "inCircle" .
                              ?link geo:predicate <http://www.wikidata.org/prop/direct/P625>.
                              ?link geo:spatialCircleCenter "52.516666666667#13.383333333333" . # Berlin
                              ?link geo:spatialCircleRadius "10" . # default unit: Kilometers
                              ?link geo:locationValue ?locationValue. 
                              ?link geo:coordSystem "2" . 
                              ?link geo:latValue ?lat.
                              ?link geo:lonValue ?lng .  
                            }
                            ?link rdfs:label ?description
                            FILTER (LANG(?description) = "en")
                          }'>
    </semantic-map>
    <h2><b>Objects within a defined rectangular area<b></h2>
   <br>
    <pre>
      <code>
        PREFIX geo: &lt;http://www.bigdata.com/rdf/geospatial#&gt;
        SELECT ?lat ?lng ?description ?link WHERE {
          SERVICE geo:search {
                ?link geo:search "inRectangle" .
                ?link geo:predicate &lt;http://www.wikidata.org/prop/direct/P625&gt;.
                ?link geo:spatialRectangleSouthWest "52.5#13.35" .
                ?link geo:spatialRectangleNorthEast "52.52#13.45" .
                ?link geo:latValue ?lat.
                ?link geo:lonValue ?lng .  
                ?link geo:locationValue ?locationValue
          }
          ?link rdfs:label ?description .
          FILTER (LANG(?description) = "en")
        }
      </code>
    </pre>
    <semantic-map query='PREFIX geo: <http://www.bigdata.com/rdf/geospatial#>
                                      SELECT ?lat ?lng ?description ?link WHERE {
                                        SERVICE geo:search {
                                              ?link geo:search "inRectangle" .
                                              ?link geo:predicate <http://www.wikidata.org/prop/direct/P625>.
                                              ?link geo:spatialRectangleSouthWest "52.5#13.35" .
                                              ?link geo:spatialRectangleNorthEast "52.52#13.45" .
                                          ?link geo:latValue ?lat.
                                              ?link geo:lonValue ?lng .  
                                          ?link geo:locationValue ?locationValue .
                                          ?link geo:coordSystem "2" . 
                                        }
                                          ?link rdfs:label ?description
                                          FILTER (LANG(?description) = "en")
                                      }'>
    </semantic-map>
  </div>
</div>

[[/inline]]
	[[#*inline "description"]]
		<p>Configuration description</p>
		<p><semantic-link iri="[[resolvePrefix "Help:SemanticMap"]]">Learn More</semantic-link></p>
	[[/inline]]
  [[#*inline  "features"]]
    <semantic-link iri='app:Start'>Semantic Search</semantic-link>,     <semantic-link iri='app:Start'>Similarity Search</semantic-link>
  [[/inline]]
  [[#*inline "demo"]]
    <div style='height: 500px'> 
        [[> configuration]]
    </div>
  [[/inline]]
[[/app:FeatureDemonstration]]