search-profile='{
      	"categories": [{
        	"iri": "<http://www.wikidata.org/entity/Q12136>",
          "label": "Disease",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/4/43/Blue_circle_for_diabetes.svg/32px-Blue_circle_for_diabetes.svg.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q169872>",
          "label": "Symptom",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Symptoms_of_coronavirus_disease_2019_in_French.png/304px-Symptoms_of_coronavirus_disease_2019_in_French.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q12140>",
          "label": "Medication",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/4/4f/Farm-Fresh_pill.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q7187>",
          "label": "Gene",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/0/07/Gene.png/32px-Gene.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q8054>",
          "label": "Protein",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Peptide_bond.png/32px-Peptide_bond.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q16521>",
          "label": "Taxon",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Hierarchical_clustering_diagram.png/32px-Hierarchical_clustering_diagram.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q2996394>",
          "label": "Process",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Protein_synthesis_%28editors_version%29.svg/32px-Protein_synthesis_%28editors_version%29.svg.png"
        }, {
          "iri": "<http://www.wikidata.org/entity/Q15989253>",
          "label": "Cell Component",
          "thumbnail": "//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/0312_Animal_Cell_and_Components.jpg/32px-0312_Animal_Cell_and_Components.jpg"
        }],
        "relations": [{
          "hasDomain": "<http://www.wikidata.org/entity/Q7187>",
          "iri": "<http://www.wikidata.org/prop/direct/P703>",
          "hasRange": "<http://www.wikidata.org/entity/Q16521>",
          "label": "found in"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q7187>",
          "iri": "<http://www.wikidata.org/prop/direct/P688>",
          "hasRange": "<http://www.wikidata.org/entity/Q8054>",
          "label": "encodes"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q8054>",
          "iri": "<http://www.wikidata.org/prop/direct/P702>",
          "hasRange": "<http://www.wikidata.org/entity/Q7187>",
          "label": "encodedBy"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q8054>",
          "iri": "<http://www.wikidata.org/prop/direct/P681>",
          "hasRange": "<http://www.wikidata.org/entity/Q15989253>",
          "label": "located in"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q12136>",
          "iri": "<http://www.wikidata.org/prop/direct/P780>",
          "hasRange": "<http://www.wikidata.org/entity/Q169872>",
          "label": "symptom"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q8054>",
          "iri": "<http://www.wikidata.org/prop/direct/P703>",
          "hasRange": "<http://www.wikidata.org/entity/Q16521>",
          "label": "found in"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q8054>",
          "iri": "<http://www.wikidata.org/prop/direct/P682>",
          "hasRange": "<http://www.wikidata.org/entity/Q2996394>",
          "label": "biological process"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q12140>",
          "iri": "<http://www.wikidata.org/prop/direct/P2175>",
          "hasRange": "<http://www.wikidata.org/entity/Q12136>",
          "label": "medical condition treated"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q12136>",
          "iri": "<http://www.wikidata.org/prop/direct/P2176>",
          "hasRange": "<http://www.wikidata.org/entity/Q12140>",
          "label": "drug used for treatment"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q12140>",
          "iri": "<http://www.wikidata.org/prop/direct/P769>",
          "hasRange": "<http://www.wikidata.org/entity/Q12140>",
          "label": "drug interaction"
        },{
          "hasDomain": "<http://www.wikidata.org/entity/Q12136>",
          "iri": "<http://www.wikidata.org/prop/direct/P2293>",
          "hasRange": "<http://www.wikidata.org/entity/Q7187>",
          "label": "genetic association"
        }, {
          "hasDomain": "<http://www.wikidata.org/entity/Q7187>",
          "iri": "<http://www.wikidata.org/prop/direct/P2293>",
          "hasRange": "<http://www.wikidata.org/entity/Q12136>",
          "label": "genetic association"
        },{
          "hasDomain": "<http://www.wikidata.org/entity/Q12140>",
          "iri": "<http://www.wikidata.org/prop/direct/P2067>",
          "hasRange": "<http://www.w3.org/2001/XMLSchema#double>",
          "label": "mass (dalton)"
        }
        
        ]
      }'
